# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

.github/
tests/

# Logs
logs/*.log
logs/*.json
logs/executions/
logs/metabase-config.json

# Runtime data
data/bronze/run_id=*/
data/silver/session_key=*/
data/gold/session_key=*/

# Test and tooling caches
.pytest_cache/
.ruff_cache/

# Mantém as pastas no Git
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
